*{
    padding: 0;
    margin: 0;
}
* :not(input){
    text-align: center;
}
form{
    padding: 20px 0px;
    background: rgb(102, 84, 84);
}
form label{
    padding: 20px;
}
li{
    list-style: none;
    background: rgb(13, 80, 102);
    padding: 20px 0px;
    margin: 0px;
    font-size: 2em;
}

li :hover{
    background: rgb(109, 12, 12);
    color: white;
    margin: 0px;

}
h1{
    background: #222;
    color: white;
    padding: 20px;
}
@media {
    display: flex;

}